---
title: Roy Is The Greatest Rock Band In The World
---

<div class="jumbotron">
  <h1><%= data.site.title %></h1>
  <p class="lead"><%= data.site.description %></p>
</div>

<h2>Download Our Albums</h2>

<p>
We are making all of our recorded music <a href="http://royplaysthehits.bandcamp.com">available on Bandcamp</a> under the pay as you like model.
</p>

<div class="list-group">
  <div class="list-group-item">
    <h4 class="list-group-item-heading"></h4>
    <p class="list-group-item-text">
      <iframe style="border: 0; width: 100%; height: 120px;" src="http://bandcamp.com/EmbeddedPlayer/album=322460701/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://royplaysthehits.bandcamp.com/album/the-singles">The Singles by Roy</a></iframe>
      The Singles is the newest collection of songs recorded at various studio sessions over a 4 year period and finally released in 2007.  Featuring a much more focused band as well as recording equipment and engineers, these songs ushered Roy into a nicer audio fidelity and mix.
    </p>
  </div>

  <div class="list-group-item">
    <h4 class="list-group-item-heading"></h4>
    <p class="list-group-item-text">
      <iframe style="border: 0; width: 100%; height: 120px;" src="http://bandcamp.com/EmbeddedPlayer/album=2409032013/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://royplaysthehits.bandcamp.com/album/ghetto-rock">Ghetto Rock by Roy</a></iframe>
      Ghetto Rock is one of our most memorable albums, if not our second.  Recorded in a weekend haze, Ghetto Rock stepped up our production value, writing chops and keen rap ability.  Featuring such hits as "Take a Rocket to Russia," "Hot Like Mel Gibson" and ending with "Jimi Hendrix Sucked at Guitar" this Roy album is legendary. 
    </p>
  </div>

  <div class="list-group-item">
    <h4 class="list-group-item-heading"></h4>
    <p class="list-group-item-text">
      <iframe style="border: 0; width: 100%; height: 120px;" src="http://bandcamp.com/EmbeddedPlayer/album=3404146724/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://royplaysthehits.bandcamp.com/album/live-at-ethos">Live At Ethos by Roy</a></iframe>
      Live At The Ethos Music Center is a show played in the "Golden Age of Roy" right after Ghetto Rock was gifted to the world.  Featuring all the hits of that era this is the only album containing the elusive Roy b-side "Road Rage (The Latest Craze)."
    </p>
  </div>

  <div class="list-group-item">
    <h4 class="list-group-item-heading"></h4>
    <p class="list-group-item-text">
      <iframe style="border: 0; width: 100%; height: 120px;" src="http://bandcamp.com/EmbeddedPlayer/album=3282085431/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://royplaysthehits.bandcamp.com/album/my-cats-breath-smells-like-cat-food">My Cats Breath Smells Like Cat Food by Roy</a></iframe>
      My Cats Breath Smells Like Cat Food is the first Roy album pressed to CD released in 1999.  This album is a collection of a straight from the sound board recording and the best Roy tracks from 3 previous tape albums.  This album feels it's analog nature in the golden hiss and pop of the Tascam 4-track we used at the time.
    </p>
  </div>
</div>
